/* logo icon */
.logo-img {
    width: 90px !important;
}
body {
    font-family: 'Poppins',sans-serif !important;
}
/* header bar color */
[dir=ltr] .navbar-dark-dodger-blue {
    background: #203864 !important;
}

[dir=ltr] .problem-section.bg-primary {
    color: white !important;
    background: linear-gradient(to right,#203864 0%,#2a73cc 100%);
}

[dir=ltr] .card-img, [dir=ltr] .card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.thumb1-first {
    display: inline-block; 
    vertical-align: top; 
    min-height: 117px; 
    margin: 0px 1px; 
    width: 24%;
}

.thumb1-first .A {
    position: relative;  
    display: flex;  
    flex-direction: column;  
    min-width: 0;  
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid #dfe2e6;
}

.thumb1-first .A div:first-child {
    margin: 2px;
    min-height: 53px !important;
}

.thumb1-first .progress-bar-animated {
    width: 85%;
    height: 35px;
    font-size: 13px;
    text-align: center;
    line-height: 35px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #fff; 
    white-space: nowrap; 
    background-color: #1d94ec; 
    transition: width .6s ease;
}

.thumb1-first .B {
    background-color: #434c6b;
    text-align: center; 
    color: white; 
    padding: 10px; 
    height: 74px;
    display: flex;
    align-items: center;
}

.thumb1-second {
    padding: 0px; 
    display: inline-block;
}

.thumb1-third {
    display: inline-block; 
    vertical-align: top; 
    margin: 0px 1px; 
    width: 70px;
}

.thumb1-third .A {
    height: 134px; 
    display: flex;  
    flex-direction: column;  
    min-width: 0;  
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid #dfe2e6;
}

.thumb1-third .B {
    background-color: #8cd02a;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    height: 30%; 
    justify-content: center;
}

.thumb1-third .C {
    background-color: white;
    text-align: center; 
    color: black; 
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.thumb2-first {
    display: inline-block; 
    vertical-align: top; 
    margin: 0px 1px; 
    /* width: 12%; */
}

.thumb2-first .A {
    display: flex;  
    flex-direction: column;  
    min-width: 0;  
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid #dfe2e6;
}

.thumb2-first .B {
    background-color: #1d94ec;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    height: 30%; 
    justify-content: center;
}

.thumb2-first .C {
    background-color: white;
    text-align: center; 
    color: black; 
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb2-second {
    display: inline-block; 
    vertical-align: top; 
    margin: 0px 1px; 
    /* width: 12%; */
}

.thumb2-second .A {
    display: flex;  
    flex-direction: column;  
    min-width: 0;  
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid #dfe2e6;
}

.thumb2-second .B {
    background-color: #e4a93c; 
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    height: 30%; 
    justify-content: center;
}

.thumb2-second .C {
    background-color: white;
    text-align: center; 
    color: black; 
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb2-third {
    padding: 0px; 
    display: inline-block;
}

.thumb3-first {
    padding: 0px; 
    display: inline-block;
}

.thumb3-first .C {
    background-color: #ed0b4c !important;
}

.thumb3-second {
    padding: 0px; 
    display: inline-block; 
    /* width: calc(50% - 70px); */
    /* width: 12%; */
}
.thumb3-second .C {
    padding: 0px 10px;
}

.thumb3-third {
    display: inline-block; 
    vertical-align: top;
    margin: 0px 1px; 
    width: 170px;
}

.ref-div, .fancybox-div {
    display: inline-block;
    text-align: center;
}



.thumb3-third .A {
    height: 134px; 
    display: flex;  
    flex-direction: column;  
    min-width: 0;  
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid #dfe2e6;
}

.thumb3-third .B {
    background-color: #434c6b; 
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    height: 30%; 
    justify-content: center;
}

.thumb3-third .C {
    background-color: white;
    color: black; 
    display: flex;
    padding: 10px 10px 5px;
}

.problem {
    font-size: 15px;
    color: rgb(255, 255, 255)!important;
}

#clockdiv{
	font-family: sans-serif;
	display: inline-block;
	font-weight: 10;
	text-align: center;
    padding: 13px 10px 3px;
}

#clockdiv > div{
	padding: 0px 5px;
	border-radius: 3px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 3px;
        border-radius: 3px;
        border: 1px solid rgb(207, 197, 197);
        display: inline-block;
        font-size: 15px;
}

.each-answer {
    font-family: sans-serif;
	font-weight: 10;
	text-align: center;
}

.each-answer > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.each-answer div > span {
    width: 22px;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    background-color: #2e3575; 
    display: inline-block;
    cursor: pointer;
}

.each-answer div > .answer-text {
    font-size: 13px;
    margin-left: 10px;
    text-align: left;
    padding: 3px 7px;
    display: inline-block;
    width: calc(100% - 60px);
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0;
}

#btn-group{
	font-family: sans-serif;
	display: inline-block;
	text-align: left;
    font-size: 2px;
    margin-left: 2px;
    overflow-y: auto;
    height: 58px;
}

#btn-group > div{
	padding: 0px;
	display: inline-block;
}

.thumb3-third .active {
    background-color: #434c6b !important;
    color: #ffffff;
    border: 1px solid #434c6b !important;
}

.thumb3-third .active:hover {
    color: #ffffff !important;
}

#btn-group div > a,
.switch-buttons button {
	/* padding: 4px; */
    border-radius: 3px;
    border: 1px solid rgb(207, 197, 197);
    display: inline-block;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    margin: 0px 1.5px;
    width: 25px;
    margin-bottom: 3px;
    text-align: center;
}

#btn-group div > a:hover {
    background-color: rgb(236 236 236);
}

.smalltext{
	padding-top: 5px;
    font-size: 12px;
    color: rgb(207, 197, 197);
}

.wizard > .actions {
   position: relative;
   display: block;
   padding: 20px;
   padding-top: 0;
   text-align: right;
}

.ref {
    display: inline-block;
    font-weight: 600;
    margin-right: 10px;
}

.wizard > .actions > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

 .wizard > .actions > ul > li {
    float: left;
}

.wizard > .actions > ul > li > a[href='#previous'] {
    color: #fff;
    border-radius: .42rem;
    background-color: #7367f0;
    display: none;
}

.wizard > .actions > ul > li > a {
    display: block;
    padding: 7px 12px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: .42rem;
    background: #db053b;
}

.wizard > .actions > ul > li + li {
    float: right;
    margin-left: 10px;
}

.wizard > .actions > ul > li {
    float: left;
}

.wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
    display: none;
}

.wrong-icon {
    background: #ff4178 !important;
}

.correct-icon {
    background: #099909 !important; 
}

.correct-label {
    color: #099909 !important;
}

.hide {
    display: none !important;
}

.wrong-hide:before {
    background-color: #f5f7fa !important;
    border: none !important;
    box-shadow: none !important;
    display: none !important;
}

.wrong-hide {
    color: red;
}

.default-hide:before, .correct-hide:before {
    background-color: #f5f7fa !important;
    border: none !important;
    box-shadow: none !important;
    display: none !important;
}

.correct-hide {
    color: rgb(9, 153, 9); 
}

[dir=ltr] .measure-lead, [dir=ltr] .measure-paragraph-max {
    max-width: 110px !important;
}

.answer-group .card-body {
    padding: 0.7rem 0.5rem 0.7rem 0.3rem !important;
}

/* .question-title:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    content: " ";
    bottom: 0px;
} */

.question-title {
    /* background: #ffffff; */
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    /* display: inline-block; */
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
    font-size: 35px;
}

[dir=ltr] .card-footer:last-child {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.pr-images
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 12px 15px;
    color: white;
    background-color: #2e3575;
}

.sr-images
{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 15px;
    color: white;
    background-color: #2e3575;
}

.pr-ref
{
    align-items: center;
}


[dir=ltr] .btn-accent {
    background-color: #2e3575 ;
    border-color: #2e3575;
}
[dir=ltr] .btn-accent.disabled, 
[dir=ltr] .btn-accent:disabled {
    background-color: #2e3575 ;
    border-color: #2e3575;
}
.answer-group .form-group {
    margin-bottom: 0.5rem !important;
}

@media (max-width: 1200px) {
    .status-panel .space-block {
        display: none;
    }
}

@media (max-width: 1199px) {
    .thumb1-first .progress-bar-animated {
        font-size: 11px;
    }
    .thumb1-first .B {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .thumb1-first {
        width: 45%;
    }
    .thumb1-first .B {
        font-size: 11px;
    }
    .thumb2-second {
        margin: 3px 1px;
    }
    .thumb3-second {
        width: 23%;
    }
    .thumb3-third {
        width: 130px;
    }
}

@media (max-width: 710px) {
    .thumb1-first {
        width: 45%;
    }
    .thumb3-third {
        width: 127px;
    }
}

@media (max-width: 660px) {
    .pr-images, .sr-images {
        margin-bottom: 10px !important;
    }
    .sr-group {
        width: 100%;
    }
    .sr-images {
        width: 50px;
        height: 50px;
    }
    .discuss-div {
        position: initial !important;
        margin-bottom: 15px;
    }
    .status-panel > div {
        margin: 5px 0px 0px;
    }
    .problem-section .pr-ref {
        height: 140px !important;
    }
}

@media (max-width: 626px) {
    [dir=ltr] .flex {
        flex: 0 0 37%;
    }
}

@media (max-width: 600px) {
    [dir=ltr] .flex {
        flex: 0 0 38%!important;
    }
}

@media (max-width: 547px) {
    .thumb1-first {
        width: 44%;
    }
}
@media (max-width: 545px) {
    .thumb3-second {
        width: 22%;
    }
}

@media (max-width: 539px) {
    .thumb3-second {
        width: 21.5%;
    }
}

@media (max-width: 538px) {
    .thumb1-first {
        width: 43%;
    }
}

@media (max-width: 536px) {
    .thumb3-second {
        width: 21%;
    }
}

@media (max-width: 533px) {
    .thumb3-second {
        width: 20.5%;
    }
}

@media (max-width: 530px) {
    .thumb1-first {
        width: 42%;
    }
    .thumb3-second {
        width: 20%;
    }
}

@media (max-width: 526px) {
    .thumb3-second {
        width: 19.5%;
    }
}

@media (max-width: 524px) {
    .thumb3-second {
        width: 19%;
    }
}

@media (max-width: 420px) {
    .thumb1-first {
        width: 63%;
    }
    .thumb2-first, .thumb2-second {
        width: 48%;
    }
    #clockdiv > div {
        padding: 10px;
    }
    .thumb3-third {
        width: 127px;
    }
}

@media (max-width: 375px) {
    .thumb1-first {
        width: 61%;
        margin: 1px 1px;
    }

    .thumb1-first .progress-bar-animated {
        font-size: 13px;
    }
    .thumb3-second {
        width: 27%;
    }

    [dir=ltr] .text-white {
        font-size: 12px;
    }
    .ref-div, .fancybox-div {
        display: block;
    }
    .sr-group {
        display: block;
        width: 100%;
    }
    [dir=ltr] .navbar-list__item {
        padding-top: 1.5rem;
    }
    .pr-images {
        width: 50px;
        height: 50px;
        margin: 5px;
        font-size: 11px;
    }
    .sr-images {
        width: 45px;
        height: 45px;
        margin: 0px 3px;
        font-size: 11px;
    }
    .each-answer div > .answer-text {
        font-size: 12px;
    }
    #clockdiv {
        padding: 5px;
    }
    [dir=ltr] .d-none {
        display: contents !important;
    }
    /* .exam-status.status-panel .response-space-block {
        display: inline-block;
        width: 63px;
        margin-top: 18px;
    } */
    .logo-img {
        width: 70px !important;
    }
    .nav-link {
        font-size: 16px !important;
    }
    .problem-section .pr-ref {
        height: 120px !important;
    }
}

@media (max-width: 360px) {
    .thumb1-first {
        width: 58%;
        margin: 1px 1px;
    }
    .thumb1-first .progress-bar-animated {
        font-size: 12px;
    }
    .thumb1-first .B {
        font-size: 13px;
    }
    .thumb2-first, .thumb2-second {
        width: 47.5%;
    }
    
    .thumb3-second .C {
        font-size: 12px;
    }
    .thumb3-third {
        width: 110px;
    }
    .thumb3-third .B {
        font-size: 11px;
    }
    .thumb3-third, .thumb2-third {
        margin: 19px 0px 3px 0px;
    }
    #clockdiv {
        padding: 0px;
    }
    [dir=ltr] .d-none {
        display: contents !important;
    }
    /* .exam-status.status-panel .response-space-block {
        display: inline-block;
        width: 56px;
        margin-top: 19px;
    } */
    .pr-images {
        width: 50px;
        height: 50px;
        margin: 3px;
        font-size: 11px;
    }
    .sr-images {
        width: 40px;
        height: 40px;
        margin: 0px 4px;
    }
}
.sr-group a.fancybox {
    display: inline-block;
}
.fancybox-div a.fancybox {
    display: inline-block;
}
.fancybox-wrap {
    width: 80% !important;
    height: 80% !important;
}
.fancybox-wrap .fancybox-skin {
    height: 90% !important;
}
.fancybox-wrap .fancybox-inner {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fancybox-wrap .fancybox-image {
    width: auto !important;
    height: auto !important;
}
.fancybox-outer {
    width: 100%;
    height: 100%;
}
.fancybox-outer, .fancybox-inner {
    position: initial !important;
}
.progress-back {
    position: fixed;
    background: rgb(0 0 0 / 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.progress-wrap {
    width: 50%;
    margin: 0 auto;
    padding: 30px 50px 20px;
    background: #fff;
    border-radius: 3px;
    border: solid 1px #ddd;
    transform: translateY(250px);
}
.progress-text {
    text-align: center;
    font-size: 14px;
}
.status-panel {
    padding: 1px 0px;
    box-shadow: 0 3px 3px -2px rgba(39,44,51,.1), 0 3px 4px 0 rgba(39,44,51,.04), 0 1px 8px 0 rgba(39,44,51,.02);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
    border: 1px solid #dfe2e6;
}
.status-panel .A div:first-child {
    min-height: 58px;
}
.status-panel .simple {
    vertical-align: top;
}
.status-panel .simple .A {
    padding: 2px;
    height: 134px;
    position: relative;
    display: flex;
    color: white;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dfe2e6;
    flex-direction: column;  
}
.status-panel .simple .A .B {
    background-color: #434c6b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
}
.status-panel .simple .A .C {
    background-color: #8cd02a;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status-panel .simple .A div:first-child {
    min-height: 55px;
}
/*.status-panel .A {
    box-shadow: 0 3px 3px -2px rgba(39,44,51,.1), 0 3px 4px 0 rgba(39,44,51,.04), 0 1px 8px 0 rgba(39,44,51,.02);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
}*/

.thumb3-second .B {
    padding: 0px 7px;
    width: 100% !important;
}
.problem-section .pr-ref {
    height: 150px;
    overflow-y: auto;
}
.discuss-div {
    position: relative;
    top: -45px;
}
.switch-block > label,
.switch-block > div {
    vertical-align: middle;
}
[dir=ltr] .ql-editor {
    padding: .5rem 0rem !important;
}
[dir=ltr] .ql-editor>* {
    cursor: pointer !important;
}